<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
<h1>Welcome to NY Attractions! Please enter your username to continue, or make a username</h1>
<p><a href="/another">Click here to see a complete list of attractions in your area</a></p>
<p><a href="/exploreusers">Click here to lookup information for a user</a></p>
<form method="POST" action="/login">
<p>Username: <input type="text" name="name"> <input type="submit" value="Login"><label for='name'>Login</label></p>
</form>

</body>


</html>
