<html>
<body>
<h1>Welcome, you are sucessfully logged in,your data is printed below, here you can see the reviews, and add a review for any attraction</h1>
<div>
<h2>Here is your name!</h2>
{% for n in data%}
<div>{{n}}</div>
{% endfor %}
<h3> The types of food and attractions the user prefers </h3>
{% for n in userlikesdata%}
<div>{{n}}</div>
{% endfor %}
<h3> Places the user has visited</h3>
{% for n in uservisited%}
<div>{{n}}</div>
{% endfor %}
<h3> Recommendations</h3>
{% for n in userrec%}
<div>{{n}}</div>
{% endfor %}
<h3> Here's the places the user has reserved in the future</h3>
{% for n in uq%}
<div>{{n}}</div>
{% endfor %}
</div>
<p><a href="/review">Write or read reviews</a></p>
<p><a href="/templates/searchlocation.html">Search through attractions</a></p>
<p><a href="/exploreusers">Search for a user</a></p>
<p><a href="/templates/prefs.html">Add preferences</a></p>
<p><a href="/another">Add a new location</a></p>
<button action='/logout'>Logout</button>

</body>
</html>
