<html>
<body>
<h1>Search Locations</h1>

<form method='POST' action="/locationsearch">
<input type="text" name="searchname" placeholder="Search by name"><div>
<input type="radio" id="rest" name= "type" value= 1><label for="rest">Restaurants</label>
<input type="radio" id="other" name = "type" value = 2><label for="other"> Other Attractions</label></div>
<input type="radio" id="all" name = "type" value = 3 checked="checked"><label for="all"> All </label>
<button type="submit" value="Search">
</form>


</body>
</html>
